<div style="text-align:center">
	<h1 class="name-title">_/\_ K A R A N _/\_</h1>
	<h5 class="description-sub">
		<span>D e v e l o p e r</span>
	</h5>
	<div>
		<a href='https://plus.google.com/+KaRuNaKaRReddykarna41317/posts' class='symbol' title='circlegithub'></a>
		<a href='http://www.linkedin.com/pub/karunakar-antham/1a/1a4/184' class='symbol' title='circlelinkedin'></a>
		<a href='http://www.facebook.com/karuan09' class='symbol' title='circlefacebook'></a>
		<a href='http://www.twitter.com/karanantham' class='symbol' title='circletwitterbird'></a>
		<a href='http://instagram.com/karuan09' class='symbol' title='circleinstagram'></a>
	</div>
	<div>Communication Student,Developer and interested in latest technologies </div>

	<div class="row">
		<div class="col-lg-6" style="padding-top:50px">
			<h5 style="margin:auto">So far</h5>
			<p style="margin:auto; padding:10px 0px">write something about me here </p>
<!--			<p style="margin:auto; padding:10px 0px">havent done much so far , learning everyday , crossing hurdles,  </p>-->
			<p style="margin:auto">
				<a class="btn btn-primary" href="http://www.facebook.com/karuan09">Let's hangout »</a>
			</p>
		</div>
		<div class="col-lg-6" style="padding-top:50px">
			<h5 style="margin:auto">professional world</h5>
			<p style="margin:auto; padding:10px 0px">
				Well ,started in a great place ,my early schooling started very close to my family farm fields from where i can see my parents everyday. I must say i have a  </p>
			<p style="margin:auto"><a class="btn btn-primary" href="https://uwaterloo.ca/hire/">View Details »</a></p>
		</div>
	</div>
</div>